
<h3>change password</h3>

<%= render(:partial=>'errors') %>

<%= form_tag 'update_password' do -%>
<div class="clean">
current password:
<br/>
<%= password_field 'password', 'current' %>
<br/>
<br/>
new password:
<br/>
<%= password_field 'password', 'new' %>
<br/>
confirm password:
<br/>
<%= password_field 'password', 'confirmation' %>
<br/>
<br/>
<%= submit_tag 'update' %>
<% end -%>
